{% extends "base_generic.html" %}

{% block content %}

{{erro}}

<br/>

<div >

    <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"> {{ faq.titulo }} </h1>
      <p class="lead"> {{ faq.texto }} </p>


        {% if tipo == "video" %}
          <video width="600" height="600" controls>
            <source src="/media/{{ faq.videofile }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>

        {% elif tipo == "" %}



        {% else %}

          <img src="/media/{{ faq.videofile }}" alt="{{ faq.titulo }}">

        {% endif %}



    </div>
  </div>

</div>



{% endblock %}