{% extends "base_generic.html" %}

{% block content %}

{{erro}}


<div class="list-group" style="margin: 20px">

<div class="alert alert-secondary text-center" role="alert">
  FAQ
</div>

    {% for faq in faqs %}

        <a href="/faq/{{faq.id}}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
      {{ faq.titulo }}
      </h5>
    </div>

    <small class="text-muted">
    {{ faq.texto }}
    </small>
  </a>



    {% endfor %}

</div>



{% endblock %}