<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Tue Jun 18 2019 01:17:45 GMT+0000 (UTC)  -->
<html data-wf-page="5cee37256352fc84286fb14d" data-wf-site="5cee37256352fc23796fb14c">
<head>
    {% load staticfiles %}

  <meta charset="utf-8">
  <title>
      NOME PAGINA
  </title>
  <meta content="Some keywords that best describes your site" name="description">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <link href="{% static 'css/normalize.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/webflow.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/boro-f6526f.webflow.css' %}" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic","Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Roboto:regular,italic,900","Roboto Condensed:regular,700"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="{% static 'images/red-dot-32-favicon.png' %}" rel="shortcut icon" type="image/x-icon">
  <link href="{% static 'images/red-dot-favicon.png' %}" rel="apple-touch-icon">
</head>

<body>



<div class="embed-responsive embed-responsive-16by9" style="display: flex; justify-content: center;">
  <iframe class="embed-responsive-item" src="media/{{video}}" allowfullscreen></iframe>
</div>

<div data-collapse="medium" data-animation="default" data-duration="400" class="nav-bar w-nav" style="position: static;">
    <div class="wrapper navbar-2 w-container">
      <div class="logo-area"><a href="#" class="nav-logo w-inline-block"><img src="{% static 'logo.jpg' %}" width="106" alt=""></a></div>
      <nav role="navigation" class="nav-menu-2 w-nav-menu">
        <div class="nav-cta-button-container"><a href="/login" class="nav-link-2 border cta w-nav-link">Login</a></div>
      </nav>
      <div class="menu-button-2 w-nav-button">
        <div class="burger-icon ondark w-icon-nav-menu"></div>
      </div>
    </div>
  </div>




  <div class="section bg-color-hero large-padding">
    <div class="wrapper large-top-margin">
      <div class="row">
        <div class="col hero-text md-12">
          <h1 class="hero-heading margin-bottom">
              <!-- TEXTO -->
              {{ textos.0 }}
          </h1>
          <ul class="hero-content-list margin-bottom">
            <li class="list-item">Organize your projects, your way</li>
            <li class="list-item">Track all your work in one place</li>
            <li class="list-item">Procrastinate more effectively</li>
          </ul><a href="#" class="button-main w-button">get started, it&#x27;s free<span class="fa text-span"></span></a></div>
        <div class="col hero-image-container margin-bottom md-align-centre">

        <img src="media/{{ imagens.0 }}" alt="" class="left-hexagon">
        <img src="media/{{ imagens.1 }}" alt="" class="right-hexagon">
        <img src="media/{{ imagens.2 }}" srcset="http://via.placeholder.com/750x710 500w, http://via.placeholder.com/750x710 600w" sizes="(max-width: 767px) 100vw, (max-width: 991px) 742.4998779296875px, 75vw" alt="" class="fluid">
        <img src="media/{{ imagens.3 }}" alt="" class="team">

        </div>
      </div>
    </div>

    <img src="images/Ellipse.png" srcset="images/Ellipse-p-500.png 500w, images/Ellipse-p-800.png 800w, images/Ellipse-p-1080.png 1080w, images/Ellipse.png 1667w" sizes="(max-width: 991px) 100vw, 1660px" alt="" class="ellipse">

    </div>
  <div class="section">
    <div class="wrapper">
      <div class="row align-center">
        <div class="narrow-container-900 overlap">
          <div class="col lg-4 box md-6">
            <div class="box-container inner-border-accent1">
            <img src="media/{{ imagens.4 }}" width="64" alt="">
              <h3 class="heading">Ad Hoc Teamwork</h3>
              <p class="margin-bottom">Donec sed odio dui. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
              <div class="learn-more">Learn More <span class="fa text-span"></span></div>
            </div>
          </div>
          <div class="col lg-4 box shiftdown-50 md-6">
            <div class="box-container inner-border-accent2">
            <img src="media/{{ imagens.5 }}" width="64" alt="">
              <h3 class="heading">Rapid Prototype</h3>
              <p class="margin-bottom">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
              <div class="learn-more">Learn More <span class="fa text-span"></span></div>
            </div>
          </div>
          <div class="col lg-4 box shiftdown-100 md-6">
            <div class="box-container inner-border-accent3">
            <img src="media/{{ imagens.6 }}" width="64" alt="">
              <h3 class="heading">Usability Testing</h3>
              <p class="margin-bottom">Morbi leo risus, porta ac consectetur dudilum acvestibulum at erosut fermentum massa justo sit amet risus.</p>
              <div class="learn-more">Learn More <span class="fa text-span"></span></div>
            </div>
          </div>
          <div class="col lg-4 box shiftdown-150 md-6">
            <div class="box-container inner-border-accent4">
            <img src="media/{{ imagens.7 }}" width="64" alt="">
              <h3 class="heading">Launcher Platform</h3>
              <p class="margin-bottom">Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem.</p>
              <div class="learn-more">Learn More <span class="fa text-span"></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="wrapper">
      <div class="row">
        <div class="col lg-8 align-center margin-bottom xs-12">
          <h2 class="section-heading">

              <!-- TEXTO -->
              {{ textos.1 }}

          </h2>
          <p class="subtitle text-centered low-opacity">
          <!-- TEXTO -->
              {{ textos.2 }}
          </p>
        </div>
      </div>
    </div>
    <div data-animation="slide" data-duration="800" class="full-slider w-slider">
      <div class="mask w-slider-mask">
        <div class="slide w-slide">
          <h4 class="thin-heading low-opacity align-center">HR Management</h4>
            <img src="media/{{ imagens.8 }}" srcset="http://via.placeholder.com/1000x900 500w, http://via.placeholder.com/1000x900 800w, http://via.placeholder.com/1000x900 1080w, http://via.placeholder.com/1000x900 1250w" sizes="100vw" alt="">
        </div>
        <div class="slide w-slide">
          <h4 class="thin-heading low-opacity align-center">Customer Success</h4><img src="media/{{ imagens.9 }}" srcset="http://via.placeholder.com/1000x900 500w, http://via.placeholder.com/1000x900 800w, http://via.placeholder.com/1000x900 1080w, http://via.placeholder.com/1000x900 1250w" sizes="100vw" alt=""></div>
        <div class="slide w-slide">
          <h4 class="thin-heading low-opacity align-center">Bar Chart Views</h4><img src="media/{{ imagens.10 }}" srcset="http://via.placeholder.com/1000x900 500w, http://via.placeholder.com/1000x900 800w, http://via.placeholder.com/1000x900 1080w, http://via.placeholder.com/1000x900 1250w" sizes="100vw" alt=""></div>
        <div class="slide w-slide">
          <h4 class="thin-heading low-opacity align-center">Dashboard Widget</h4><img src="media/{{ imagens.11 }}" srcset="http://via.placeholder.com/1000x900 500w, http://via.placeholder.com/1000x900 800w, http://via.placeholder.com/1000x900 1080w, http://via.placeholder.com/1000x900 1250w" sizes="100vw" alt=""></div>
        <div class="slide w-slide">
          <h4 class="thin-heading low-opacity align-center">Calendar Event</h4><img src="media/{{ imagens.12 }}" srcset="http://via.placeholder.com/1000x900 500w, http://via.placeholder.com/1000x900 800w, http://via.placeholder.com/1000x900 1080w, http://via.placeholder.com/1000x900 1250w" sizes="100vw" alt=""></div>
      </div>
      <div class="w-slider-arrow-left">
        <div class="icon-2 w-icon-slider-left"></div>
      </div>
      <div class="w-slider-arrow-right">
        <div class="icon w-icon-slider-right"></div>
      </div>
      <div class="w-slider-nav w-slider-nav-invert w-round"></div>
    </div>
  </div>
  <div class="section-2 wider-padding background-accent">
    <div class="wrapper-2">
      <div class="row-2 md-reverse-layout bring-to-front">
        <div class="col-2 lg-5 align-vertically md-12 md-first">
          <a href="#" class="side-image lightbox-video w-inline-block w-lightbox">
            <div class="video-preview-container">
              <div class="transparent-overlay">
                <div>
                  <div class="play-button"></div>
                </div>
              </div><img src="media/{{ imagens.13 }}" width="646" srcset="http://via.placeholder.com/650x400 1080w, http://via.placeholder.com/650x400 1321w" sizes="(max-width: 479px) 87vw, (max-width: 991px) 74vw, 38vw" alt="" class="video-preview"></div>
            <script type="application/json" class="w-json">{
  "items": [
    {
      "type": "video",
      "originalUrl": "https://www.youtube.com/watch?v=ml3JsQPHTjI",
      "url": "https://www.youtube.com/watch?v=ml3JsQPHTjI",
      "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2Fml3JsQPHTjI%3Ffeature%3Doembed&url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Dml3JsQPHTjI&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2Fml3JsQPHTjI%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\"></iframe>",
      "thumbnailUrl": "https://i.ytimg.com/vi/ml3JsQPHTjI/hqdefault.jpg",
      "width": 940,
      "height": 528
    }
  ]
}</script>
          </a>
        </div>
        <div class="col-2 lg-1"></div>
        <div class="col-2 lg-6 md-4 align-bottom">
          <div class="md-align-centre margin-bottom">
            <h2 class="heading-3 ondark">
                <!-- TEXTO -->
              {{ textos.3 }}
            </h2>
            <p class="short-paragraph low-opacity ondark margin-bottom">
            <!-- TEXTO -->
              {{ textos.4 }}
              </p>
            <div class="tag-cloud-container margin-bottom">
              <div class="tag-cloud cloud7">Legal</div>
              <div class="tag-cloud cloud1">Management</div>
              <div class="tag-cloud cloud2">Product</div>
              <div class="tag-cloud cloud3">Sales</div>
              <div class="tag-cloud cloud4">HR</div>
              <div class="tag-cloud cloud5">Engineering</div>
              <div class="tag-cloud cloud6">Finance</div>
              <div class="tag-cloud cloud8">Growth</div>
              <div class="tag-cloud cloud9">Customer Success</div>
              <div class="tag-cloud cloud10">Scrum</div>
            </div>
          </div>
        </div>
      </div>
    </div><img src="images/divider-top-1.svg" alt="" class="divider-top"></div>
  <div class="section position-relative">
    <div class="wrapper-2">
      <div class="row align-center">
        <div class="col-2 lg-6 md-4">
          <div class="section-header">
            <h2 class="heading-2">

                <!-- TEXTO -->
              {{ textos.5 }}
            </h2>
            <p class="low-opacity">
            <!-- TEXTO -->
              {{ textos.6 }}
              </p>
          </div>
        </div>
      </div>
      <div data-duration-in="300" data-duration-out="100" class="tab w-tabs">
        <div class="tabs-menu w-tab-menu">
          <a data-w-tab="Tab 1" class="tab-link w-inline-block w-tab-link w--current">
            <div class="how-it-works-tab">
              <div class="circle no-margins">
                <h5 class="step-number">01</h5>
              </div>
              <div class="centre-align">
                <p>One</p>
              </div>
            </div>
            <div class="step-line"></div>
          </a>
          <a data-w-tab="Tab 2" class="tab-link w-inline-block w-tab-link">
            <div class="how-it-works-tab">
              <div class="circle no-margins">
                <h5 class="step-number">02</h5>
              </div>
              <div class="centre-align">
                <p>Two</p>
              </div>
            </div>
            <div class="step-line"></div>
          </a>
          <a data-w-tab="Tab 3" class="tab-link w-inline-block w-tab-link">
            <div class="how-it-works-tab">
              <div class="circle no-margins">
                <h5 class="step-number">03</h5>
              </div>
              <div class="centre-align">
                <p>Three</p>
              </div>
            </div>
            <div class="step-line"></div>
          </a>
          <a data-w-tab="Tab 4" class="tab-link w-inline-block w-tab-link">
            <div class="how-it-works-tab">
              <div class="circle no-margins">
                <h5 class="step-number">04</h5>
              </div>
              <div class="centre-align">
                <p>Four</p>
              </div>
            </div>
            <div class="step-line"></div>
          </a>
          <a data-w-tab="Tab 5" class="tab-link w-inline-block w-tab-link">
            <div class="how-it-works-tab">
              <div class="circle no-margins">
                <h5 class="step-number">05</h5>
              </div>
              <div class="centre-align">
                <p>Five</p>
              </div>
            </div>
            <div class="step-line"></div>
          </a>
        </div>
        <div class="w-tab-content">
          <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
            <div class="row-2 align-centre flex-vertical-align md-reverse-layout">
              <div class="col-2 lg-1"></div>
              <div class="col-2 lg-5 md-3 xs-2">
                <div class="margin-bottom">
                  <h3>01. Identify Your Team Individuals’ Strengths</h3>
                  <p class="short-paragraph paragraph-small">In a collaborative environment, it becomes really important to be realistic about each one’s vulnerabilities. On your mission to start collaboration, start with building teams around individuals who do complement one another.</p>
                </div>
              </div>
              <div class="col-2 lg-5 md-3 xs-2"><img src="media/{{ imagens.14}}" width="470" srcset="http://via.placeholder.com/470x470 500w, http://via.placeholder.com/470x470 800w, http://via.placeholder.com/470x470 876w" sizes="(max-width: 479px) 75vw, (max-width: 767px) 64vw, (max-width: 991px) 470px, 38vw" alt="" class="value-proposition-hero-image"></div>
              <div class="col-2 lg-1"></div>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="w-tab-pane">
            <div class="row-2 align-centre flex-vertical-align md-reverse-layout">
              <div class="col-2 lg-1"></div>
              <div class="col-2 lg-5 md-3 xs-2">
                <div class="margin-bottom">
                  <h3>02. Establish Realistic Expectations</h3>
                  <p class="short-paragraph paragraph-small">With clear realistic expectations in the team, they will be more able to focus on the tasks and take part in decision-making. All together the team gets an opportunity to share their ideas and get support for the same.</p>
                </div>
              </div>
              <div class="col-2 lg-5 md-3 xs-2"><img src="media/{{ imagens.15 }}" width="470" srcset="http://via.placeholder.com/470x470 500w, http://via.placeholder.com/470x470 800w, http://via.placeholder.com/470x470 900w" sizes="(max-width: 479px) 75vw, (max-width: 767px) 64vw, (max-width: 991px) 470px, 38vw" alt="" class="value-proposition-hero-image"></div>
              <div class="col-2 lg-1"></div>
            </div>
          </div>
          <div data-w-tab="Tab 3" class="w-tab-pane">
            <div class="row-2 align-centre flex-vertical-align md-reverse-layout">
              <div class="col-2 lg-1"></div>
              <div class="col-2 lg-5 md-3 xs-2">
                <div class="margin-bottom">
                  <h3>03. Reward Innovation</h3>
                  <p class="short-paragraph paragraph-small">To create a culture of innovation, organization need to make innovation a human capital issue. You can prioritise innovation by linking it to the company’s reward system. Innovation is the key to maintaining the competitive edge in the growing industries. Therefore, encouraging teams to challenge the status quo simply means maintaining the right standards.</p>
                </div>
              </div>
              <div class="col-2 lg-5 md-3 xs-2"><img src="media/{{ imagens.16 }}" width="470" srcset="http://via.placeholder.com/470x470 500w, http://via.placeholder.com/470x470 800w, http://via.placeholder.com/470x470 900w" sizes="(max-width: 479px) 75vw, (max-width: 767px) 64vw, (max-width: 991px) 470px, 38vw" alt="" class="value-proposition-hero-image"></div>
              <div class="col-2 lg-1"></div>
            </div>
          </div>
          <div data-w-tab="Tab 4" class="w-tab-pane">
            <div class="row-2 align-centre flex-vertical-align md-reverse-layout">
              <div class="col-2 lg-1"></div>
              <div class="col-2 lg-5 md-3 xs-2">
                <div class="margin-bottom">
                  <h3>04. Encourage Open-Mindedness</h3>
                  <p class="short-paragraph paragraph-small">Give each of them a chance to be open minded about their ideas and behavior. Approach every situation uniquely with different perspective. With individuals sharing their experiences together, it creates a sense of security in the team. They give a respectful approach to work, thus positively impacting overall performance.</p>
                </div>
              </div>
              <div class="col-2 lg-5 md-3 xs-2"><img src="media/{{ imagens.17 }}" width="470" srcset="http://via.placeholder.com/470x470 500w, http://via.placeholder.com/470x470 800w, http://via.placeholder.com/470x470 876w" sizes="(max-width: 479px) 75vw, (max-width: 767px) 64vw, (max-width: 991px) 470px, 38vw" alt="" class="value-proposition-hero-image"></div>
              <div class="col-2 lg-1"></div>
            </div>
          </div>
          <div data-w-tab="Tab 5" class="w-tab-pane">
            <div class="row-2 align-centre flex-vertical-align md-reverse-layout">
              <div class="col-2 lg-1"></div>
              <div class="col-2 lg-5 md-3 xs-2">
                <div class="margin-bottom">
                  <h3>05. <strong>Spread the Delegation of Tasks</strong></h3>
                  <p class="short-paragraph paragraph-small">You cannot do everything alone and of course you cannot have the same people showing up all the time. When you start delegating the tasks, individuals feel powerful as they will feel their actions will leave an impact on the organization. They’ll be more motivated to be there in the team and do their efforts. They feel valued, overwhelmed and feel they have an important role to play.</p>
                </div>
              </div>
              <div class="col-2 lg-5 md-3 xs-2"><img src="media/{{ imagens.18 }}" width="470" srcset="ihttp://via.placeholder.com/470x470 500w, http://via.placeholder.com/470x470 800w, http://via.placeholder.com/470x470 924w" sizes="(max-width: 479px) 75vw, (max-width: 767px) 64vw, (max-width: 991px) 470px, 38vw" alt="" class="value-proposition-hero-image"></div>
              <div class="col-2 lg-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div><img src="images/Star-1.svg" alt="" class="hive1"><img src="media/{{ imagens.19 }}" alt="" class="hive2"></div>
  <div id="clients" class="section backgroud-accent relative-position wide-vertical-padding">
    <div class="wrapper">
      <div class="row align-center">
        <div class="micro-heading margin-bottom align-center">AS FEATURED IN</div>
      </div>
    </div>
    <div class="wrapper space-around">
      <div class="partner-logo-container"><img src="media/{{ imagens.20 }}" width="120" alt="" class="partner-logo"></div>
      <div class="partner-logo-container"><img src="media/{{ imagens.21 }}" alt="" class="partner-logo movedown-20"></div>
      <div class="partner-logo-container"><img src="media/{{ imagens.22 }}" width="97" alt="" class="partner-logo movedown-40"></div>
      <div class="partner-logo-container"><img src="media/{{ imagens.23 }}" alt="" class="partner-logo movedown-60"></div>
      <div class="partner-logo-container"><img src="media/{{ imagens.24 }}" alt="" class="partner-logo movedown-80"></div>
      <div class="partner-logo-container"><img src="media/{{ imagens.25 }}" alt="" class="partner-logo movedown-100"></div>
    </div><img src="media/{{ imagens.26 }}" alt="" class="bottom-divider"></div>
  <div class="section small-top-padding">
    <div class="wrapper">
      <div class="row align-center">
        <div class="col-2 lg-6 md-4">
          <div class="section-header">
            <div class="thumbsup"></div>
            <h2>
            <!-- TEXTO -->
              {{ textos.7 }}
              </h2>
            <p class="low-opacity">

            <!-- TEXTO -->
              {{ textos.8 }}

              </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col lg-12 centre-align"><img src="media/{{ imagens.27 }}" srcset="http://via.placeholder.com/920x735 500w, http://via.placeholder.com/920x735 800w, http://via.placeholder.com/920x735 1080w, http://via.placeholder.com/920x735 1428w" sizes="(max-width: 479px) 65vw, (max-width: 767px) 71vw, 73vw" alt="" class="mobile-app margin-bottom"><a href="#" class="button-main margin-top w-button">get started, it&#x27;s free<span class="fa text-span"></span></a></div>
      </div>
    </div>
  </div>
  <div id="testimonials" class="section large-vertical-padding background-lite-accent">
    <div class="wrapper-2">
      <div data-animation="slide" data-duration="500" data-infinite="1" class="slider-3 w-slider">
        <div class="w-slider-mask">
          <div class="small-slide w-slide">
            <div class="testimonial-container">
              <div class="big-quote">“</div>
              <div class="div-block-4">
                <h4 class="ondark testimonial-title">Detheme has done great job so far</h4>
                <p class="ondark testimonial-text">We’ve increased our sales from 20–25% since we’ve implemented Boro and would never look back.<br></p>
                <h5 class="ondark dark-low-opacity">Peter Shah, President &amp; Founder</h5>
              </div>
            </div>
          </div>
          <div class="small-slide w-slide">
            <div class="testimonial-container">
              <div class="big-quote">“</div>
              <div>
                <h4 class="ondark testimonial-title">You&#x27;re killin&#x27; it</h4>
                <p class="ondark testimonial-text">I dont know how many times i hired them, and i would do it again, because they always nail it to the core.<br></p>
                <h5 class="ondark dark-low-opacity">Alicia Golden, CTO</h5>
              </div>
            </div>
          </div>
          <div class="small-slide w-slide">
            <div class="testimonial-container">
              <div class="big-quote">“</div>
              <div>
                <h4 class="ondark testimonial-title">Our Sales Quadruples</h4>
                <p class="ondark testimonial-text">It really streamlines our delivery and pickup service. Regular customers have been ordering more often and their orders have been larger.<br></p>
                <h5 class="ondark dark-low-opacity">Joshua Biggins, Store Owner</h5>
              </div>
            </div>
          </div>
          <div class="small-slide w-slide">
            <div class="testimonial-container">
              <div class="big-quote">“</div>
              <div>
                <h4 class="ondark testimonial-title">Absolutely love it!</h4>
                <p class="ondark testimonial-text">We got a lot of phone calls, a lot of mistyped orders. So with Boro, the ability to see the order directly from the customer makes it so streamlined.<br></p>
                <h5 class="ondark dark-low-opacity">Jerry Tran, Traditional Hedgefund Manager</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="hide w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="hide w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="slide-nav-2 w-slider-nav w-slider-nav-invert w-round"></div>
      </div>
    </div>
  </div>








</body>

</html>