{% extends "base_generic.html" %}

{% block content %}

<section id="inicio" class="section">
    <div class="container">
        <br>
        <br>
        <br>

<div class="row">



    {% if user.is_superuser %}

<div class="col">
        <h1>
        <a href="/criardocumento" class="badge badge-warning">Criar Novo Layout</a>
        </h1>
        </div>

<div class="col">

        <h1>
        <a href="/criarstorie" class="badge badge-warning">Criar Novo Storie</a>
        </h1>
        </div>

<div class="col">

        <h1>
        <a href="/documentos" class="badge badge-success">Editar Layout</a>
        </h1>
        </div>



        <div class="col">

        <h1>
        <a href="/stories" class="badge badge-success">Editar Stories</a>
        </h1>
        </div>

    {% else %}

        {% if user.is_authenticated %}


            <div class="container-fluid" style="margin: 20px">
            <h1><span class="badge badge-warning">Posts</span></h1>

                <div class="row">

                    <div class="card-columns">

                        {% for docu in documentos %}
                        <a href="/criandodocumento/{{docu.0.id}}" >
                        <div class="card" style="width: 350px">
                            <img src="/media/{{ docu.1.0 }}" class="card-img-top" alt="{{docu.0.titulo}}">
                            <div class="card-footer text-muted">
                              <span >
                              {{docu.0.titulo}}
                              </span>

                            </div>
                        </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

           <div class="container-fluid" style="margin: 20px">
            <h1><span class="badge badge-warning">Stories</span></h1>
                <div class="row">

                    <div class="card-columns">

                        {% for docu in stories %}

                        <a href="/criandostorie/{{docu.0.id}}" >

                        <div class="card" style="width: 350px">
                            <img src="/media/{{ docu.1.0 }}" class="card-img-top" alt="{{docu.0.titulo}}">
                            <div class="card-footer text-muted">
                              <span >
                              {{docu.0.titulo}}
                              </span>

                            </div>
                        </div>

                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <br/>
        {% endif %}
    {% endif %}

    </div>


    </div>
</section>

{% endblock %}