{% extends "base_generic.html" %}

{% block content %}

<section id="login" class="section registration">
    <div class="container">
        <br>
        <br>
        <br>
        <h4>Login</h4>
        <div class="blankdivider30">
        </div>
        <div class="cform" id="contact-form">
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
            {% if erro_formulario %}
                <p class="error-message">{{ erro_formulario }}</p>
            {% endif %}
            <form action="/login/" method="post">
                {% csrf_token %}
                <div class="container">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Email invalido"/>
                            <div class="validation"></div>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Senha" data-rule="required" data-msg="Digite a senha" />
                            <div class="validation"></div>
                        </div>

                        <input type="submit" value="Logar" class="btn btn-theme pull-left btn-primary">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- <a href="/resetar_senha/">Envie um email com a nova senha</a> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}