{% extends "base_generic.html" %}

{% block content %}

<section id="registro" class="section registration">
    <div class="container">
        <br>
        <br>
        <br>
        <h4>Registro</h4>
        <div class="blankdivider30">
        </div>
        <div class="cform" id="contact-form">
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
            {% if erro_formulario %}
                <p class="error-message">{{ erro_formulario }}</p>
            {% endif %}
            <form action="/registro/" method="post">
                {% csrf_token %}
                <div class="container">
                    <div class="col-sm-6">

                    <div class="form-group">
                            <input class="form-control" name="telefone" id="telefone" placeholder="Telefone" data-rule="telefone" data-msg="Telefone invalido"/>
                            <div class="validation"></div>
                        </div>

                        <div class="form-group">
                            <input class="form-control" name="endereco" id="endereco" placeholder="Endereco" data-rule="endereco" data-msg="Endereco invalido"/>
                            <div class="validation"></div>
                        </div>

                        <div class="form-group">
                            <input class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Email invalido"/>
                            <div class="validation"></div>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Senha" data-rule="required" data-msg="Digite a senha" />
                            <div class="validation"></div>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control" name="password_confirm" id="password_confirm" placeholder="Senha" data-rule="required" data-msg="Digite a senha" />
                            <div class="validation"></div>
                        </div>

                        <div class="form-group">
                            <select name="plano">

                                    {% for plano in planos %}

                                        <option value="{{plano.id}}">{{plano}}</option>


                                    {% endfor %}
                              </select>
                        </div>

                        <input type="submit" value="Cadastrar" class="btn btn-theme pull-left">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- <a href="/resetar_senha/">Envie um email com a nova senha</a> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}