{% extends "base_generic.html" %}

{% block content %}

<section id="updater_egistro" class="section registration">
    <div class="container">
        <br>
        <br>
        <br>

        <br>
        <h1>
            <span class="badge badge-primary">
                Seu Registro
            </span>
        </h1>

        <hr/>

        {% if not perfil.fezcrop %}
        <input type="button" onclick="atualizarlogo()" value="Salvar Logo" class="btn btn-warning">
        {% endif %}

        <img id="imglogo" width="100" height="100" src="/media/{{perfil.logo}}">

        <div class="blankdivider30">
        </div>
        <div class="cform" id="contact-form">
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
            {% if erro_formulario %}
                <p class="error-message">{{ erro_formulario }}</p>
            {% endif %}



            <form action="/updateregistro/" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="container">
                    <div class="col-sm-6">

                        <div class="form-group">
                        <span>Logo: </span>
                        <br/>
                            <input type="file" accept=".jpg,.jpeg,.png" name="img" id="img" class="filestyle" data-classButton="btn btn-primary" data-input="false" data-classIcon="icon-plus" data-buttonText="Sua Logo">
                        </div>

                        <div class="form-group">
                                <input class="form-control" name="telefone" id="telefone" placeholder="{{perfil.telefone}}" data-rule="telefone" data-msg="Telefone invalido"/>
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control" name="password" id="password" placeholder="Senha" data-rule="password" data-msg="Digite a senha" />
                                <div class="validation"></div>
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control" name="password_confirm" id="password_confirm" placeholder="Repitir Senha" data-rule="password_confirm" data-msg="Digite a senha" />
                                <div class="validation"></div>
                            </div>

                            <input type="submit" value="Salvar" class="btn btn-theme pull-left btn-success">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <!-- <a href="/resetar_senha/">Envie um email com a nova senha</a> -->
                    </div>
                </div>
            </form>

            <br/>

        </div>
    </div>
</section>



{{ form.media }}


{% if not perfil.fezcrop %}

<script type="text/javascript">

logow = 0
logoh = 0

logox = 0
logoy = 0

function atualizarlogo() {
    window.location.href = "/atualizarlogo/"+logow+"/"+logoh+"/"+logox+"/"+logoy;
}


const image = document.getElementById('imglogo');
const cropper = new Cropper(image, {
    cropBoxResizable:true, aspectRatio: 31 / 18,
  crop(event) {
        logow = Math.round(event.detail.width)
        logoh = Math.round(event.detail.height)

        logox = Math.round(event.detail.x)
        logoy = Math.round(event.detail.y)


  },
});
</script>
{% endif %}


{% endblock %}