{% extends "base_generic.html" %}

{% block content %}

{{erro}}

<div class="container-fluid" style="padding: 20px; padding-left: 40px">

<br/>

<h2>
    <span class="badge badge-secondary">Layouts</span>
</h2>
<br/>

{% if resultado.layouts %}
<div class="row">
<div class="card-deck">
    {% for docu in resultado.layouts %}
        <a href="/criandodocumento/{{docu.0.id}}" >
          <div class="card" style="max-width: 300px">
            <img src="/media/{{ docu.1.0 }}" class="card-img-top" alt="{{docu.0.titulo}}">
            <div class="card-footer text-muted">
                  <span >
                  {{docu.0.titulo}}
                  </span>

                </div>
          </div>
        </a>
    {% endfor %}
     </div>
</div>
{% endif %}

<br/>

<hr/>
<br/>



<h2>
    <span class="badge badge-secondary">Stories</span>
</h2>
<br/>


{% if resultado.stories %}
<div class="row">
<div class="card-deck">
    {% for docu in resultado.stories %}
<a href="/criandostorie/{{docu.0.id}}">
            <div class="card" style="max-width: 300px">
              <img src="/media/{{ docu.1.0 }}" class="card-img-top" alt="{{docu.0.titulo}}">
              <div class="card-footer text-muted">
                  <span >
                  {{docu.0.titulo}}
                  </span>

                </div>
            </div>
</a>
    {% endfor %}
     </div>
</div>
{% endif %}

<br/>

<hr/>
<br/>



<h2>
    <span class="badge badge-secondary">Categorias</span>

</h2>
<br/>


{% if resultado.categorias %}
<div class="row">
<div class="card-deck">
    {% for docu in resultado.categorias %}
    <a href="/documentos/{{docu.id}}" >
            <div class="card" style="max-width: 300px">
              <div class="card-body">
                <h5 class="card-title">{{docu.titulo}}</h5>
                <p class="card-text">
                    {{docu.descricao}}
                </p>
              </div>
            </div>
</a>
    {% endfor %}
     </div>
</div>
{% endif %}
<hr/>


</div>
{% endblock %}