{% extends "base_generic.html" %}

{% block content %}

{{erro}}

<div class="card text-center">
  <div class="card-header">
    Minhas configuracoes
  </div>
  <div class="card-body">







<div class="container">



  <div class="row">
    <div class="col">


      <div class="card">
        <div class="card-header">
          Limite de Downloads
        </div>
        <div class="card-body">
            <p>
                {{ perfil.numero_downloads_direito }}
            </p>
        </div>
      </div>


    </div>
    <div class="col">


      <div class="card">
        <div class="card-header">
          Total Downloads
        </div>
        <div class="card-body">
            <p>
                {{ posts_baixados}}
            </p>
        </div>
      </div>


    </div>

    <div class="col">


      <div class="card">
        <div class="card-header">
          Proxima adicao de downloads
        </div>
        <div class="card-body">
            <p>
                {{ proxima_renovacao}}
            </p>
        </div>
      </div>


    </div>
  </div>


<br/>



    <div class="card">
      <div class="card-header">
        Apoio
      </div>
      <div class="card-body">
          <p>
              <a href="/faqs/" class="btn btn-primary"> Ajuda Rapida </a>
          </p>
      </div>
    </div>



<br/>

    <div class="card">
      <div class="card-header">
        Seu Plano
      </div>
      <div class="card-body">
          <p>
              <a href="/trocarplano/" class="btn btn-success"> Trocar de Plano </a>
          </p>
      </div>
    </div>




</div>


  </div>

</div>

<br/>
<div class="container">
  <div class="row">
    <div class="col text-center">


      <a href="/inativarconta/" class="btn btn-danger"> Cancelar servico </a>


    </div>
  </div>
</div>

{% endblock %}