{% extends "base_generic.html" %}

<!-- {% load static %} -->

{% block content %}

{% if documento %}


{% if meupai %}
<br/>

<a href="/criandodocumento/{{meupai.id}}" style="font-size: 20px">
                <span class="badge badge-dark"> {{ meupai.titulo }} </span>
            </a>

{% endif%}

{% if user.is_superuser %}
<a href="/deletardocumento/{{documento.id}}" style="font-size: 20px">
                <span class="badge badge-danger">Deletar Documento</span>
            </a>
<br/>

{% endif%}




    <br/>
    <dl class="row" style="background-color: white; padding: 20px;">
        <dt class="col-sm-3">
            Titulo:
        </dt>

        <dd class="col-sm-9">
            {{documento.titulo}}
        </dd>

        <dt class="col-sm-3">
            Legenda:
        </dt>

        <dd class="col-sm-9" ><span id="legendona">{{documento.descricao}}</span></dd>

    </dl>



    <div class="container-fluid">


      <div class="row">
    <div class="col-6">
         <canvas id="canvas_documento" width="{{canvas_larg}}" height="{{canvas_alt}}" style="border:0px solid #000000;">
        </canvas>
    </div>




    <div class="col-6">

    {% if user.is_superuser %}


    <div id="divajudalogo" style="background-color: red; position: absolute;">
&nbsp;
</div>
    <div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">
        Editar o Layout (1080x1080)
    </h5>

            <form action="/criandodocumento/{{documento.id}}/" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="container">
                    <div class="col">

                        <div class="form-group">
                            <input type="file" name="img" id="img">
                        </div>

                        <div class="form-group">

                            <input class="form-control" name="titulo" id="titulo" placeholder="Titulo do Layout: {{documento.titulo}}" data-rule="titulo" data-msg="Titulo invalido"/>
                            <div class="validation"></div>
                        </div>

                        <div class="form-group">
<!--                             <input class="form-control" name="descricao" id="descricao" placeholder="Descricao do Layout: {{documento.descricao}}" data-rule="descricao" data-msg="Descricao invalido"/> -->
                                <textarea class="form-control" name="descricao" id="descricao" placeholder="Descricao do Layout: {{documento.descricao}}" data-rule="descricao" data-msg="Descricao invalido" rows="5" id="comment"></textarea>
                            <div class="validation"></div>
                        </div>

                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <input class="form-control" name="logo_x" id="logo_x" value="{{documento.logo_x}}" placeholder="X da logo: {{documento.logo_x}}" data-rule="logo_x" data-msg="Posicao X invalido"/>
                                    <div class="validation"></div>
                                </div>
                            </div>

                            <div class="col">

                                <div class="form-group">
                                    <input class="form-control" name="logo_y" id="logo_y" value="{{documento.logo_y}}" placeholder="Y da logo: {{documento.logo_y}}" data-rule="logo_y" data-msg="Posicao Y invalido"/>
                                    <div class="validation"></div>
                                </div>
                            </div>
                        </div>

                       <!--  <div class="form-row">
                            <div class="col">

                                <div class="form-group">
                                    <input class="form-control" name="logo_largura" id="logo_largura" placeholder="Largura da logo: {{documento.logo_largura}}" data-rule="logo_largura" data-msg="Largura invalido"/>
                                    <div class="validation"></div>
                                </div>
                            </div>

                            <div class="col">

                                <div class="form-group">
                                    <input class="form-control" name="logo_altura" id="logo_altura" placeholder="Altura da logo: {{documento.logo_altura}}" data-rule="logo_altura" data-msg="Altura invalido"/>
                                    <div class="validation"></div>
                                </div>
                            </div>

                        </div> -->


                        <div class="form-group">
                            <input class="form-control" name="variacoes" id="variacoes" placeholder="Variacoes: {{variacoes|length}}" data-rule="variacoes" data-msg="Altura invalido"/>
                            <div class="validation"></div>
                        </div>

                        <input type="submit" value="Salvar" class="btn btn-theme pull-left btn-primary">



                    </div>
                </div>
            </form>

            <hr/>
            <button type="button" class="btn btn-warning" onclick="ajudalogo()">
              Ver local da logo
            </button>

            </div>
            </div>


    {% else %}

    <script type="text/javascript">
         function copiao() {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($("#legendona").text()).select();
        document.execCommand("copy");
        $temp.remove()
    }
    </script>

    <a href="/baixardocumento/{{documento.id}}">
    <button type="button" class="btn btn-success">Download</button>
    </a>
    <button type="button" class="btn btn-warning" onclick="copiao()">Copiar Legenda</button>



    {% endif %}




    </div>




  </div>

  <br/>
  <br/>
  {% if variacoes %}
  <div class="alert alert-info" >

  <h2>
        <span class="badge badge-success">Variações</span>
    </h2>


    <div class="row">

    {% for variacao in variacoes %}
        <a href="/criandodocumento/{{variacao.0.id}}">
            <div class="card" style="width: 18rem;">
                <img src="/media/{{ variacao.1 }}" class="card-img-top" alt="...">

                <div class="card-body">
                    <p class="card-text">
                    {{ variacao.0.titulo }}
                     </p>
                </div>

            </div>
        </a>

    {% endfor %}


    </div>
    </div>

  {% endif %}

    </div>


<script type="text/javascript">


        const getContext = () => document.getElementById('canvas_documento').getContext('2d');

        // It's better to use async image loading.
        const loadImage = url => {
          return new Promise((resolve, reject) => {
            const img = new Image();
            img.onload = () => resolve(img);
            img.onerror = () => reject(new Error(`load ${url} fail`));
            img.src = url;
          });
        };

        // Here, I created a function to draw image.
        const depict = options => {
          const ctx = getContext();
          // And this is the key to this solution
          // Always remember to make a copy of original object, then it just works :)
          const myOptions = Object.assign({}, options);
          return loadImage(myOptions.uri).then(img => {
            ctx.drawImage(img, myOptions.x, myOptions.y, myOptions.sw, myOptions.sh);
          });
        };

        // const imgs = [
        //   { uri: 'http://placehold.it/50x50/f00/000?text=R', x: 15, y:  15, sw: 50, sh: 50 },
        //   { uri: 'http://placehold.it/50x50/ff0/000?text=Y', x: 15, y:  80, sw: 50, sh: 50 },
        //   { uri: 'http://placehold.it/50x50/0f0/000?text=G', x: 15, y: 145, sw: 50, sh: 50 }
        // ];

        const imgs = [];
        logo = "";
        // console.log("{{imgs}}")


        function wait(ms){
           var start = new Date().getTime();
           var end = start;
           while(end < start + ms) {
             end = new Date().getTime();
          }
        }

        function add_img(img,x,y, largura, altura) {
            // console.log(img)
            // console.log(x)
            // console.log(y)
            imgs.push( { 'uri': '/media/'+img, 'x': x, 'y': y, 'sw': largura, 'sh': altura } )


            // console.log(imgs)
            // imgs.forEach(depict);
        }

        function add_logo(img,x,y,lw,lh) {

            max_w = 1080 - 310
            max_h = 1080 - 180

            x = parseInt(x,10)
            y = parseInt(y,10)


            largu = 310/3
            altu = 180/3

            if ( x > max_w) {
                x = max_w
            }
            if ( x < 0) {
                x = 0
            }
            x = x


           if ( y > max_h) {
                y = max_h
            }
            if ( y < 0) {
                y = 0
            }
            y = y

            logo =  { 'uri': '/media/'+img, 'x': x, 'y': y, 'sw': lw, 'sh': lh }
            // logo.push( { 'uri': '/media/'+img, 'x': x, 'y': y, 'sw': largura, 'sh': altura } )

            // imgs.forEach(depict).then( depict(logo) )

            if (imgs.length < 1) {
                return
            }

            for (var i = 0; i < imgs.length; i++) {
                depict(imgs[i])
            }

            wait(2000);

            depict(logo)



        }


         function add_ajudalogo(x,y) {

            max_w = 1080 - 310
            max_h = 1080 - 180

            x = parseInt(x,10)
            y = parseInt(y,10)


            largu = 310/3
            altu = 180/3

            if ( x > max_w) {
                x = max_w
            }
            if ( x < 0) {
                x = 0
            }
            x = x/3


           if ( y > max_h) {
                y = max_h
            }
            if ( y < 0) {
                y = 0
            }
            y = y/3

            console.log(y)

            xcanvas = $('#canvas_documento').offset().left
            ycanvas = $('#canvas_documento').offset().top

            xlogoajuda = (x + parseInt(xcanvas, 10) )
            ylogoajuda = ((y+ parseInt(ycanvas, 10) ) +1)

            $('#divajudalogo').css({
                "min-width" : largu+"px",
                "min-height" : altu+"px",
                "max-width" : largu+"px",
                "max-height" : altu+"px",

            });


            $('#divajudalogo').offset({
                top: ylogoajuda, left: xlogoajuda
                });




        }

        function ajudalogo() {
            $('#divajudalogo').toggle("display")
        }










        // var canvas = document.getElementById('canvas_documento'),
        // context = canvas.getContext('2d');



        // function make_base(img,x,y)
        // {
        //   console.log(img)
        //   base_image = new Image();
        //   base_image.src = img;
        //   base_image.onload = function(){
        //     context.drawImage(base_image, x, y);
        //   }
        // }


    </script>

    {% for img in imgs %}

        <!-- <img width="100" height="100" src="/media/{{img.img}}"> -->
        <!-- {{img.id}} -->
        <!-- {{img}} -->
        <script>add_img("{{img.img}}", "{{img.x}}", "{{img.y}}", "{{canvas_larg}}", "{{canvas_alt}}" );</script>

    {% endfor %}


<!--     <script>add_logo("{{perfil.logo}}", "{{documento.logo_x}}", "{{documento.logo_y}}",  "{% widthratio documento.logo_largura 3 1 %}", "{% widthratio documento.logo_altura 3 1 %}", );</script>
 -->





  <!--   <script>
        imgs.forEach(depict);
    </script> -->

{% if logoaux %}
    <script>add_logo("{{logoaux}}", "{{logox}}", "{{logoy}}", "{{logow}}", "{{logoh}}" );</script>

 {% else %}
    <script>add_logo("{{perfil.logo}}", "{{logox}}", "{{logoy}}", "{{logow}}", "{{logoh}}" );</script>

 {% endif %}

        <!-- <img width="100" height="100" src="/media/{{perfil.logo}}"> -->

    {% if user.is_superuser %}





    <script>




$("#logo_x").on("change paste keyup", function() {
   add_ajudalogo( parseInt($("#logo_x").val(), 10), ( parseInt($("#logo_y").val(), 10) ) );
});

$("#logo_y").on("change paste keyup", function() {
   add_ajudalogo( parseInt($("#logo_x").val(), 10), ( parseInt($("#logo_y").val(), 10) ) );
});

add_ajudalogo("{{documento.logo_x}}", "{{documento.logo_y}}" );


    </script>


{% endif %}



{% endif %}

{% endblock %}