{% extends "base_generic.html" %}

{% block content %}






{{erro}}

  <div class="container-fluid" style="padding: 40px;  ">

{% if documentos %}
<div class="row">
<div class="card-columns">

    {% for docu in documentos %}



            <div class="card ext-center" style="width: 300px">

            {% if user.is_superuser %}
            <a href="/deletarstorie/{{docu.0.id}}">
                <span class="badge badge-danger">Deletar</span>
            </a>
            {% endif %}


            <a href="/criandostorie/{{docu.0.id}}">

              <img src="/media/{{ docu.1.0 }}" class="card-img-top" alt="{{docu.0.descricao}}">
              <div class="card-footer text-muted">
                  <span >
                  {{docu.0.titulo}}
                  </span>

                </div>
                </a>
            </div>







    {% endfor %}
     </div>
</div>
{% endif %}
</div>
{% endblock %}