{% extends "base_generic.html" %}

{% block content %}

{{erro}}


<div class="card text-center">
  <div class="card-header">
    Gerenciar perfil
  </div>
  <div class="card-body">



    <a href="#trocadeplano" class="btn btn-success"> Trocar de Plano </a>
    <br/>
    <br/>




<div class="container">



  <div class="row">
    <div class="col">


      <div class="card">
        <div class="card-header">
          Seu Plano
        </div>
        <div class="card-body">
            <p>
                {{ perfil.plano.titulo }}
            </p>
        </div>
      </div>


    </div>
    <div class="col">


      <div class="card">
        <div class="card-header">
          Total Posts Baixados
        </div>
        <div class="card-body">
            <p>
                {{ posts_baixados.count }}
            </p>
        </div>
      </div>


    </div>

    <div class="col">


      <div class="card">
        <div class="card-header">
          Total Stories Baixados
        </div>
        <div class="card-body">
            <p>
                {{ stories_baixados.count }}
            </p>
        </div>
      </div>


    </div>
  </div>

    <br/>


   <div class="row">
    <div class="col">


      <div class="card">
        <div class="card-header">
          Ultimos Downloads - POSTS
        </div>
        <div class="card-body">

        <div class="card-columns">
          {% for down in  posts_baixados%}

              <a href="/criandodocumento/{{down.documento.id}}">
                <div class="card">
                  <div class="card-header">
                    {{ down.data }}
                  </div>
                  <div class="card-body">

                      <p>
                          {{ down.documento.titulo }}
                      </p>


                  </div>
                </div>
              </a>


          {% endfor %}
        </div>


        </div>
      </div>


    </div>


    <div class="col">


      <div class="card">
        <div class="card-header">
          Ultimos Downloads - Stories
        </div>
        <div class="card-body">

        <div class="card-columns">
          {% for down in  stories_baixados%}
              <a href="/criandostorie/{{down.storie.id}}">
                <div class="card">
                  <div class="card-header">
                    {{ down.data }}
                  </div>
                  <div class="card-body">

                      <p>
                          {{ down.storie.titulo }}
                      </p>


                  </div>
                </div>
              </a>


          {% endfor %}
        </div>


        </div>
      </div>


    </div>


  </div>




</div>


  </div>

</div>
    <br/>

<div class="card text-center" id="trocadeplano">
  <div class="card-header">
    Trocar de Plano
  </div>
  <div class="card-body">





<div class="container">



  <div class="row">

    {% for plano in planos %}


        <div class="col">


            <div class="card">
              <div class="card-header">
                {{ plano.titulo }}
                {% if plano.id == perfil.plano.id %}
                  <span class="badge badge-primary">Plano Atual</span>
                {% endif %}
              </div>
              <div class="card-body">
                  <p>
                      {{ plano.descricao }}
                  </p>

                  <p>
                      {{ plano.valor }}
                  </p>



                  <a type="button" class="btn btn-success" href="/trocarplano/{{plano.id}}">Escolher Plano</a>

              </div>
          </div>


        </div>

    {% endfor %}


  </div>







</div>


  </div>

</div>


<br/>
<div class="container">
  <div class="row">
    <div class="col text-center">


      <a href="/inativarconta/" class="btn btn-danger"> Cancelar servico </a>

    </div>
  </div>
</div>


{% endblock %}