<!DOCTYPE HTML>
<html lang="en">
    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <title>

            Nome Exemplo

        </title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>


<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">


        <link  href="{% static 'cropperjs/dist/cropper.css' %}" rel="stylesheet">
        <script src="{% static 'cropperjs/dist/cropper.js' %}" ></script>

        <style>


                #navtopo a {
                  text-decoration: none;
                  color: white;
                }

        </style>


    </head>
    <body style="background-color: #c3cddb;">



                <!-- MENU PRIMARIO -->

    <nav id="navtopo" class="navbar navbar-expand-lg" role="alert" style="margin: 0; background-color: #29394f; text-decoration: none">
        <br/>


        {% if user.is_authenticated %}

        <ul class="navbar-nav mr-auto">
              <li class="nav-item active" style="margin-right: 50px">
              <a href="/">
                    <img src="{% static 'logo.jpg' %}" style="max-width: 50px; max-height: 50px">
                    </a>

              </li>

              <li class="nav-item active" style="margin-right: 50px">
                    <a href="/registro">
                        <h3>
                            {{ user.username }}
                        </h3>
                    </a>
              </li>

              <li class="nav-item active">
                    <a href="/logout">Sair</a>
              </li>


        </ul>



            <form action="/busca/" method="post" class="form-inline">
                {% csrf_token %}
                  <input class="form-control mr-sm-2" type="search" placeholder="Posts, Stories ou Categorias" aria-label="Search" name="busca">
                  <button class="btn btn-success" type="submit">Pesquisar</button>
                </form>
</nav>

                <!-- MENU Secundario -->
                <nav class="navbar navbar-expand-lg" role="alert" style="background-color: white">

                    <ul class="nav nav-pills">


                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Posts</a>
                            <div class="dropdown-menu">

                                <a class="dropdown-item" href="/documentos">Todos</a>
                                <div class="dropdown-divider"></div>

                                {% for catego in categoria %}

                                    <a class="dropdown-item" href="/documentos/{{catego.id}}">{{catego.titulo}}</a>

                                {% endfor %}

                            </div>
                        </li>



                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Stories</a>
                            <div class="dropdown-menu">

                            <a class="dropdown-item" href="/stories">Todos</a>
                                <div class="dropdown-divider"></div>

                                {% for catego in categoria %}

                                    <a class="dropdown-item" href="/stories/{{catego.id}}">{{catego.titulo}}</a>

                                {% endfor %}

                            </div>
                        </li>


<li class="nav-item active">
                        <a class="dropdown-item" href="/configuracoes">Configuracoes</a>
                        </li>
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li> -->

                    </ul>

                    </nav>



        {% else %}
        <ul class="navbar-nav mr-auto">
              <li class="nav-item active" style="margin-right: 50px">
              <a href="/">
                    <img src="{% static 'logo.jpg' %}" style="max-width: 50px; max-height: 50px">
                    </a>

              </li>
        </ul>
            <a  href="/login">Fazer Login</a>
</div>

                    </nav>

        {% endif %}













        {% block content %}
        {% endblock %}


    </body>

</html>